h1 {
    font-family: 'Caveat', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Fredoka', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Tektur', cursive;
}

p {
    font-family: 'Caveat', cursive;
font-family: 'Dancing Script', cursive;

}

h2 {
    font-family: 'Dancing Script', cursive;
}